.DS_Store
.ipynb_checkpoints
__pycache__/
Python-for-Earth-Science-Students
~
to_grade/
lectures/
dfDipole.xlsx
geotherms_v02-Copy1.ipynb
Datasets/BedMachineAntarctica-v3.nc
GLY4451_mar29_v01_answer.ipynb
Computer_Lab_29mar_v01.ipynb
GLY4451_Lab_Exercise_03-Copy1.ipynb
geotherms_v02-Copy2.ipynb
